@import '../style-common/index.scss';

$badge-height: 16px;
$badge-font-size: 10px;

.t-badge {
    height: $badge-height;
    min-width: $badge-height;
    padding: 0 6px;
    display: inline-block;
    color: #fff;
    text-align: center;
    line-height: $badge-height;
    box-sizing: border-box;
    vertical-align: middle;

    &.is-size-normal {
        font-size: $badge-font-size;
        border-radius: ($badge-height + $badge-font-size) / 2;
    }

    &.is-type-primary {
        background: $color-primary;
    }

    &.is-type-danger {
        background: $color-danger;
    }

    &.is-type-success {
        background: $color-success;
    }

    &.is-type-warning {
        background: $color-warning;
    }

    &.is-type-info {
        background: $color-info;
    }
}