@import '../style-common/index.scss';

.checkbox {
    &-header {
        padding: 10px 8px 4px;
        font-size: 12px;
        color: #888;
    }
}

.checkbox-item {
    position: relative;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 14px;
    letter-spacing: 0.21px;
    height: 48px;
    line-height: 53px;
    background: #fff;

    &-input {
        display: none;
    }

    &-label {
        color: #000;
    }

    &-icon {
        color: #26a2ff;
    }

    &.is-disabled &-label,
    &.is-disabled &-icon {
        color: #d9d9d9;
    }

    &:nth-of-type(1) {
        border-top: 1px solid #d9d9d9;
    }

    &:nth-last-of-type(1) {
        border-bottom: 1px solid #d9d9d9;
    }

    &:nth-of-type(n + 2):before {
        content: " ";
        position: absolute;
        top: 0;
        left: 15px;
        right: 0;
        height: 1px;
        border-top: 1px solid #d9d9d9;
        color: #d9d9d9;
    }
}