@import '../style-common/index.scss';

.t-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;

    &-content {
        display: flex;

        &.is-column {
            flex-direction: column;
        }
    }
}
