$transition-duration: .3s;
$transition-function: cubic-bezier(.55, 0, .1, 1);
$transition: all $transition-duration $transition-function;

// 淡入淡出
.fade-in-enter-active,
.fade-in-leave-active {
    transition: $transition;
}

.fade-in-enter,
.fade-in-leave-active {
    opacity: 0;
}

// 滑动，相同方向进出
.slide-in-top-enter,
.slide-in-top-leave-to {
    transform: translateY(-100%);
}

.slide-in-bottom-enter,
.slide-in-bottom-leave-to {
    transform: translateY(100%);
}

.slide-in-left-enter,
.slide-in-left-leave-to {
    transform: translateX(-100%);
}

.slide-in-right-enter,
.slide-in-right-leave-to {
    transform: translateX(100%);
}

.slide-top-enter-active,
.slide-top-leave-active,
.slide-bottom-enter-active,
.slide-bottom-leave-active,
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    position: absolute;
    transition: .3s;
}

.slide-top-enter,
.slide-bottom-leave-to {
    transform: translateY(-100%);
}

.slide-top-leave-to,
.slide-bottom-enter {
    transform: translateY(100%);
}

.slide-left-enter,
.slide-right-leave-to {
    transform: translateX(-100%);
}

.slide-right-enter,
.slide-left-leave-to {
    transform: translateX(100%);
}
